@font-face{
    font-family: menu;
    src: url(../fonts/MontserratSemibold-Yz368.ttf);
}

#fr{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}
a{
    text-decoration: none;
    cursor: pointer;

}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
body{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: 100vw;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: menu;
    position: sticky;
    top: 0;
    background-color: #f8f8f8;
    transition: box-shadow 0.3s;
    z-index: 10;
}
.menu{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#menu{
    color: #000;
    font-size: 17px;
    transition: 0.1s opacity;
    padding: 3px;
}
.active:hover{
    opacity: 1 !important;
}
#menu:hover{
    opacity: 0.3;
}
.active{
    border-bottom: #1b5b8f 3px solid;
}
#light{
    background-color: transparent;
    display: none;
    width: 20px;
    height: 20px;
}
#dark{
    background-color: transparent;
    width: 20px;
    height: 20px;
}
#light img:hover{
    filter: drop-shadow(0 0 8px rgba(255, 233, 105, 1));
}
#dark img:hover{
    filter: drop-shadow(0 0px 8px rgba(0, 0, 0, 1));
}
#light_dark{
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
.setting{
    display: flex;
    align-items: center;
    margin-right: 2%;
    width: 100px;
}
select{
    height: 25px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    font-family: menu;
    background-color: transparent;
    transition: all 0.3s ease;
}
select:focus{
    outline-style: none;
}
select:hover{
    border: 1px solid #000;
}
#icon_menu{
    display: none;
    margin-left: 5vw;
}
#fermer{
    position: absolute;
    top: 45%;
    left: 10%;
    transform: translate(0%, -50%);
    z-index: 2000;
}
.flou{
    display: none;
    position: relative;
    top: 90px;
    left: 0;
    width: 70vw;
    height: 200vh;
    overflow: hidden;
    z-index: 1000;
}
.flou::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600vh;
    backdrop-filter: blur(8px);
}
#menu_icon{
    text-align: center;
    text-align: start;
    
}
.menu_icon{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.menu_icon a{
    margin: 10px;
}
#menu_icon div{
    display: flex;
    justify-content: space-between;
    width: 150%;
}
#menu_icon div div{
    width: 50%;
    background-color: #000;
}

/* HOME */
#home{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 80%;
    height: calc(97vh - 60px);
    margin-bottom: 3vh;
    font-family: menu;
}
#image{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
#profil{
    transition: filter 0.3s;
}
#profil:hover{
    /* transform: scale(1.1); */
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
}
.descri{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
}
.descri p{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}
.descri span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin-bottom: 20px;
}
.descri span::after{
    content: '';
    margin-left: 20px;
    font-size: 25px;
    animation: point 2s infinite;
}
h1{
    font-size: 36px;
    margin-bottom: 20px;
    cursor: pointer;
}
h1:hover{
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    /* text-shadow: 0 10px 20px rgba(255, 255, 255, 0.25); */
}
    h1{
    font-size: 36px;
    margin-bottom: 20px;
}
#nom{
    color: #008FFF;
}
.ligne{
    height: 82px;
    width: 3px;
    margin-top: 10px;
    background-color: #008FFF;
}
.text{
    display: flex;
    justify-content: end;
}
.text nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tools{
    text-align: center;
    height: 19px;
    font-size: 18px;
    color: #008FFF;
}
.socio{
    display: flex;
    flex-direction: column;
    width: 130px;
}
.socio img{
    width: 25px;
    height: 25px;
}
.socio div{
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-color: #008FFF;
    border-radius: 50%;
    padding: 5px;
}
.socio a{
    width: 35px;
    height: max-content;
    margin-top: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    transition: width 0.5s;
    color: #008FFF;
}
.socio a:hover{
    width: 130px;
}
#socio .ligne{
    height: 35px;
    margin-top: 5px;
    margin-left: 16px;
}
#socio{
    width: 130px;
}

/* SKILLS */
#skills{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
    height: 97vh;
    margin-bottom: 3vh;
    font-family: menu;
}
#skills .text{
    justify-content: start;
}
#skills section{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
#part_1, #part_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 10px;
}
#skills_1, #skills_2{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 5px;
    overflow-y: scroll;
    gap: 20px;
}
#skills_1 a, #skills_2 a{
    padding: 15px;
    height: 110px;
    width: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid transparent;
    border-radius: 50%;
    gap: 10px;
    font-family: 'Courier New', Courier, monospace;
}
#cpp:hover, #java:hover, #wordpress:hover, #node:hover, #reseaux:hover, #react:hover, #symfony:hover{
    border-top: 5px solid #1b5b8f;
    border-right: 5px solid #1b5b8f;
}
#js:hover, #php:hover, #html:hover, #css:hover, #bootstrap:hover, #jquery:hover, #windows:hover, #sql:hover, #mysql:hover{
    border: 5px solid #1b5b8f;
}
#c:hover, #python:hover, #linux:hover{
    border-top: 5px solid #1b5b8f;
    border-right: 5px solid #1b5b8f;
    border-bottom: 5px solid #1b5b8f;
}
#skills span{
    color: #1b5b8f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* PROJECTS */
#projects{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
    height: 97vh;
    margin-bottom: 3vh;
    font-family: menu;
}
#projects .text{
    justify-content: start;
}
#projects section{
    display: flex;
    gap: 50px;
    height: 80%;
}
#liste{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
#detail{
    width: 330px;
    height: 90%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

#detail li{
    opacity: 1;
    padding: 5px;
    cursor: text;
}
.projet_descri{
    display: none;
}
.ito{
    display: flex;
    flex-direction: column;
    gap: 1px;
}
#projet_button{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.open{
    padding: 5px;
    height: 25px;
    width: 70px;
    background-color: green;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 2px;

}
.open a{
    color: #FFFFFF;
    text-decoration: none;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
li{
    list-style: none;
    padding: 10px 30px 10px 30px;
    display: flex;
    align-self: center;
    gap: 10px;
    width: 250px;
    border-radius: 3px;
    opacity: 0.5;
    cursor: pointer;
}
.izy{
    background-color: #0091ff8c;
    align-items: center;
    opacity: 1;
}
li img{
    opacity: 0;
}
.izy img{
    opacity: 1;
}

/* CONTACT */
#contact{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
    height: 97vh;
    margin-bottom: 2vh;
    font-family: menu;
}
#contact .text{
    justify-content: start;
}
form{
    display: flex;
    flex-direction: column;
    width: 360px;
    justify-content: start;
    align-items: center;
    margin-right: 50px;
}
#mail, #motif, #name{
    background: transparent;
    border: none;
    font-size: 16px;
    width: 100%;
}
input:focus, textarea:focus{
    outline: none;
}
.mail, .motif, .name{
    border-radius: 10px;
    border: 1px solid  rgba(0, 0, 0, 0.25);
    padding: 10px 15px 10px 15px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 280px;
}
.aftermail, .aftermotif, .aftername{
    top: 8px;
    left: 10px;
    position: absolute;
    background-color: #f8f8f8;
    padding: 0 10px 0 10px;
    color: rgba(0, 0, 0, 0.5);
    z-index: -10;
    font-size: 14px;
    transition: top 0.3s;
}
#mail:focus + .aftermail, #motif:focus + .aftermotif, #name:focus + .aftername{
    top: -10px;
    z-index: 10;
}
#mail:valid + .aftermail, #motif:valid + .aftermotif, #name:valid + .aftername{
    top: -10px;
    z-index: 10;
}
#message{
    height: 70px;
    resize: none;
    padding: 10px 15px 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 5px;
    width: 280px;
    background-color: transparent;
}
label{
    font-size: 16px;
    opacity: 0.7;
    z-index: -1;
}
.message{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.submit{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.submit input{
    border: none;
    background-color: #008FFF;
    padding: 10px 15px 10px 15px;
    width: 50%;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: #f8f8f8;
}
.submit input:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.textcontact{
    text-align: justify;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.75);
}
#contact section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 75%;
}
#carte{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

/* FOOTER */
footer{
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #000 solid;
}

@media only screen and (max-width:1000px) {
    #image{
        flex-direction: column;
        width: max-content;
    }
    .descri{
        width: 100%;
    }
    .menu{
        width: 50%;
    }
    span{
        margin-bottom: 10px;
    }
    h1{
        margin-bottom: 10px;
    }
}
@media only screen and (max-width:800px) {
    #profil{
        width: 300px;
        height: 300px;
    }
    #home, #contact, #skills, #projects{
        width: 90%;
    }
    .menu{
        display: none;
    }
    #icon_menu{
        display: block;
    }
    .socio{
        width: max-content;
    }
    .socio a:hover{
        width: 35px;
    }
    #decale{
        display: none;
    }
    section{
        flex-direction: column;
    }
    #part_1, #part_2{
        width: 90%;
        height: 45vh;
    }
}

@keyframes point{
    0%{
        content: ''
    }
    25%{
        content: '.';
    }
    50%{
        content: '..';
    }
    75%{
        content: '...';
    }
    100%{
        content: '';
    }
}